.header {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--viewport-width);
    z-index: 10;

    &__cnt {
        padding: 4.5rem var(--main-padding-x) 2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @extend .h-xs;
    }

    &__actions {
        display: flex;
        gap: 1rem;
    }
}